<h1>Fractal Space Thermometer</h1>
<p>
	This is the home page for the <a href = "http://ecohabitus.org/">Fractal space thermometer</a> Please do not insert into rectum.
</p>

<%= link_to "Sign up now!", '#', :class => "signup_button round"%>