<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "contact", contact_path %></li>
			<li><%= link_to "News", '#' %></li>
			<li><%= link_to "Rails Tutorial", '#' %></li>
		</ul>
	</nav>
</footer>